doctype html
html
head
	title= title
	link(rel='stylesheet',href='/dist/css/bundle.css')
body
	block content
		input(id='username',type='hidden',name='username',value='#{user.local.username}')
		input(id='user_id',type='hidden',name='user_id',value='#{user._id}')
		#app
	script(src='/dist/scripts/bundle.js')